# SECRET_KEY=""
# DB_NAME=""
# DB_USER=""
# DB_PASSWORD=""
# DB_HOST=""
# DB_PORT=0
# EMAIL_HOST_USER=""
# EMAIL_HOST_PASSWORD=""
# EMAIL_USE_TLS=True
# EMAIL_PORT=587
# EMAIL_HOST=smtp.gmail.com
# DJANGO_SETTINGS_MODULE=core.settings
# CELERY_BROKER_URL=redis://redis:6379/0