asgiref==3.11.0
Django==5.2.10
django-environ==0.12.0
django-extensions==4.1
django-filter==25.2
django-celery-results==2.6.0
gunicorn==24.1.1
celery==5.6.2
redis==7.1.0
amqp==5.3.1
billiard==4.2.4
kombu==5.6.2
vine==5.1.0
numpy==2.2.6
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.3
tzlocal==5.3.1
pillow==12.1.0
qrcode==8.2
odfpy==1.4.1
psycopg2-binary==2.9.11
cryptography==46.0.3
pyOpenSSL==25.3.0
cffi==2.0.0
pycparser==2.23
defusedxml==0.7.1
packaging==26.0
sqlparse==0.5.5
typing_extensions==4.15.0
six==1.17.0
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
prompt_toolkit==3.0.52
wcwidth==0.3.2
MarkupSafe==3.0.3
Werkzeug==3.1.5
