<article class="content">
        <div class="one-input-inline">
                <label for="name" class="label-text">Nome</label>
                <input type="text" name="name" id="name" class="filter-input one-line-input" placeholder="Nome do usuário">
        </div>
           
        <div class="two-input-inline">
            <div>
                <label for="post" class="label-text">Cargo</label>
                <select name="post" id="post" class="filter-input two-line-input custom-arrow">
                    <option value="">Consultor de patrimônio</option>
                    <option value="">Gerente de patrimônio</option>  
                </select>
            </div>

            <div>
                <label for="email" class="label-text">E-mail</label>
                <input type="text" name="email" id="email" class="filter-input two-line-input" placeholder="exemplo@gmail.com">
            </div>
        </div>

</article>