<article class="content">

    <div class="two-input-inline">
        <div>
            <label for="item" class="label-text">Item</label>
            <input type="text" name="item" id="item" class="filter-input two-thirds-input" placeholder="Nome do item">
        </div>

        <div>
            <label for="open-by" class="label-text">Serial</label>
            <input type="text" name="open-by" id="open-by" class="filter-input three-line-input" placeholder="000000000">
        </div>
    </div>

    <div class="two-input-inline">
        <div>
            <label for="condition" class="label-text">Estado de conservação</label>
            <select name="condition" id="condition" class="filter-input two-line-input custom-arrow">
                <option value="">Recuperável</option>
                <option value="">Bom</option>
                <option value="">Ocioso</option>
                <option value="">Antieconômico</option>
                <option value="">Irreversível</option>
            </select>
        </div>

        <div>
            <label for="consultant" class="label-text">Consultor</label>
            <select name="consultant" id="consultant" class="filter-input two-line-input custom-arrow">
                <option value="">Ciro Daniel</option>
                <option value="">Geisa Abrantes</option>
                <option value="">João Vicente</option>
                <option value="">Lucas Nunes</option>
                <option value="">Thiago Morais</option>
            </select>
        </div>
    </div>

    <div class="three-input-inline">
        <div>
            <label for="room" class="label-text">Sala</label>
            <select name="room" id="room" class="filter-input three-line-input custom-arrow">
                <option value="">Sala 75</option>
                <option value="">Sala 14</option>
                <option value="">Sala 32</option>
                <option value="">Sala 44</option>
                <option value="">Sala 81</option>
            </select>
        </div>

        <div>
            <label for="date_start" class="label-text">Data de abertura ( Início )</label>
            <input type="date" name="date_start" id="date_start" class="date-input filter-input three-line-input custom-date">
        </div>

        <div>
            <label for="date_end" class="label-text">Data de abertura ( Fim )</label>
            <input type="date" name="date_end" id="date_end" class="date-input filter-input three-line-input custom-date">
        </div>
    </div>

</article>