<article class="content">

    <div class="two-input-inline">
        <div>
            <label for="item" class="label-text">Título</label>
            <input type="text" name="item" id="item" class="filter-input two-thirds-input" placeholder="Título do inventário">
        </div>

        <div>
            <label for="open-by" class="label-text">Aberto por</label>
            <select name="open-by" id="open-by" class="filter-input three-line-input custom-arrow">
                <option value="">Ciro Daniel</option>
                <option value="">Geisa Abrantes</option>
                <option value="">João Vicente</option>
                <option value="">Lucas Nunes</option>
                <option value="">Thiago Morais</option>
            </select>
        </div>
    </div>

    <div class="two-input-inline">
        <div>
            <label for="leader-consultant" class="label-text">Consultor lider</label>
            <select name="leader-consultant" id="leader-consultant" class="filter-input two-line-input custom-arrow">
                <option value="">Ciro Daniel</option>
                <option value="">Geisa Abrantes</option>
                <option value="">João Vicente</option>
                <option value="">Lucas Nunes</option>
                <option value="">Thiago Morais</option>
            </select>
        </div>

        <div>
            <label for="consultant" class="label-text">Consultor</label>
            <select name="consultant" id="consultant" class="filter-input two-line-input custom-arrow">
                <option value="">Ciro Daniel</option>
                <option value="">Geisa Abrantes</option>
                <option value="">João Vicente</option>
                <option value="">Lucas Nunes</option>
                <option value="">Thiago Morais</option>
            </select>
        </div>
    </div>

    <div class="three-input-inline">
        <div>
            <label for="status" class="label-text">Status</label>
            <select name="status" id="status" class="filter-input three-line-input custom-arrow">
                <option value="">Ativo</option>
                <option value="">Inativo</option>
            </select>
        </div>

        <div>
            <label for="date_start" class="label-text">Data de abertura ( Início )</label>
            <input type="date" name="date_start" id="date_start" class="date-input filter-input three-line-input custom-date">
        </div>

        <div>
            <label for="date_end" class="label-text">Data de abertura ( Fim )</label>
            <input type="date" name="date_end" id="date_end" class="date-input filter-input three-line-input custom-date">
        </div>
    </div>

</article>