<article class="content">
        <div class="one-input-inline">
                <label for="item" class="label-text">Item</label>
                <input type="text" name="item" id="item" class="filter-input one-line-input" placeholder="Nome do item">
        </div>
           
        <div class="two-input-inline">
            <div>
                <label for="status" class="label-text">Status</label>
                <select name="status" id="status" class="filter-input two-line-input">
                    <option value="">Ativo</option>
                    <option value="">Inativo</option>
                </select>
            </div>

            <div>
                <label for="serial" class="label-text">Serial</label>
                <input type="text" name="serial" id="serial" class="filter-input two-line-input" placeholder="00000000">
            </div>
        </div>

        <div class="three-input-inline">
            <div>
                <label for="category" class="label-text">Categoria</label>
                <select name="category" id="category" class="filter-input three-line-input">
                    <option value="">Equipamento</option>
                </select>
            </div>

            <div>
                <label for="responsible" class="label-text">Responsável</label>
                <select name="responsible" id="responsible" class="filter-input three-line-input">
                    <option value="">Ciro Daniel</option>
                    <option value="">Geisa Abrantes</option>
                    <option value="">João Vicente</option>
                    <option value="">Lucas Nunes</option>
                    <option value="">Thiago Morais</option>
                </select>
            </div>

            <div>
                <label for="room" class="label-text">Sala</label>
                <select name="room" id="room" class="filter-input three-line-input">
                    <option value="">Sala 75</option>
                    <option value="">Sala 14</option>
                    <option value="">Sala 32</option>
                    <option value="">Sala 44</option>
                    <option value="">Sala 81</option>
                </select>
            </div>
        </div>

        <div class="three-input-inline">
            <div>
                <label for="condition" class="label-text">Estado de conservação</label>
                <select name="condition" id="condition" class="filter-input three-line-input">
                    <option value="">Recuperável</option>
                    <option value="">Bom</option>
                    <option value="">Ocioso</option>
                    <option value="">Antieconômico</option>
                    <option value="">Irreversível</option>
                </select>
            </div>

            <div>
                <label for="date_start" class="label-text">Data de cadastro ( Início )</label>
                <input type="date" name="date_start" id="date_start" class="date-input filter-input three-line-input">
            </div>

            <div>
                <label for="date_end" class="label-text">Data de cadastro ( Fim )</label>
                <input type="date" name="date_end" id="date_end" class="date-input filter-input three-line-input">
            </div>
        </div>
</article>