{% load static %}
<div class="modal" id="invitationModal" data-close-import-modal>
    <div class="modal-box">
        <form method="get">
        <div class="modal-header">

            <p class="modal-title" >{{ type }} Itens</p>

            <button class="close-button" type="button">
                <img src="{% static 'icons/Cancel.svg' %}" alt="Fechar" data-close-import-modal>
            </button>
        </div >           

        <div class="modal-body">

            <p class="secondary-text">{{ description }}</p>

            <button class="import-download import-font" > 
                <img src="{% static 'icons/ExcelModel.svg'%}" alt="Aplicar"> Planilha Modelo
            </button>
        
            <label class="dropzone import-select" for="logo-input">
            <input id="logo-input" name="logo" type="file" accept="image/*" hidden>
            <span id="logo-filename " class="file-select import-font">Escolher Arquivo</span>
            </label>
        </div>

        <div class="modal-footer buttons-row" >
            <button class=" filter-button cancel-button" type="button" data-close-import-modal>Cancelar</button>
            <button class="filter-button apply-button" > 
                <img src="{% static 'icons/FileDownload.svg'%}" alt="Aplicar">{{ type }}
            </button>
        </div>
        </form>
    </div>
</div>
<script src="{% static 'js/import-sheet.js' %}"></script>