{% load static %}

<article class="card">
    <p class="card-title">{{ company_name }}</p>

    <img src="{% static 'img/amazon.png' %}" alt="company_logo">

    <p class="card-role">{{ role }}</p>

    <div class="card-stats">
        <div class="stat">
            <img src="{% static 'icons/BoxCard.svg' %}" aria-hidden="true">
            <p class="stat-number">{{ items_total }}</p>
            <p class="stat-label">Itens em Estoque</p>
        </div>
        <div class="stat">
            <img src="{% static 'icons/UserCard.svg' %}" aria-hidden="true">
            <p class="stat-number">{{ users_total }}</p>
            <p class="stat-label">Usuários</p>
        </div>
    </div>
</article>