{% load static %}
<div class="modal" id="editModal">
  <div class="modal-box">
    <form id="form-edit" method="POST" enctype="multipart/form-data"  >
      {% csrf_token %}

      <div class="modal-header">
        <p class="modal-title">Editar Instituição</p>
        <button type="button" class="close-button" id="editModalCloseBtn">
          <img src="{% static 'icons/Cancel.svg' %}" alt="Fechar">
        </button>
      </div>

      <div class="modal-body">
        <div>
          <label class="label">Logo</label>
          <label class="dropzone" for="logo-input">
            {{ form.logo_url }}
          </label>
        </div>

        <div>
          <label class="label" for="create-nome">Nome</label>
          {{ form.name }}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="filter-button cancel-button" id="editModalCancelBtn">Cancelar</button>
        <button type="submit" class="filter-button apply-button">
          <img src="{% static 'icons/EditSave.svg' %}" alt="Salvar"> Salvar
        </button>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/modal_edit.js' %}"></script>