{% load static %}
<div class="modal" id="editProfileModal" data-close-profile-modal>
    <div class="modal-box">
        <form method="get">
        <div class="modal-header bottom-header">

            <p class="modal-title">Editar Perfil</p>

            <button class="close-button" type="button">
                <img src="{% static 'icons/Cancel.svg' %}" alt="Fechar" data-close-profile-modal>
            </button>
        </div >           

        <div class="modal-body profile-modal-body">
            <label class="label">Foto</label>
            <label class="dropzone attachment" for="logo-input">
            <input id="logo-input" name="logo" type="file" accept="image/*" hidden>
            <span id="logo-filename">Selecione uma imagem…</span>
            </label>

            <label class="label profile-name" for="edit-nome">Nome</label>
            <input type="text" id="edit-nome" name="nome" class="input" value="{{company_name}}" placeholder="Lucas Nunes Barreto Sampaio">
        </div>

        <div class="modal-footer buttons-row" >
            <button class="filter-button cancel-button" data-close-profile-modal type="button">
                Cancelar
            </button>
            <button class="filter-button apply-button"> 
                <img src="{% static 'icons/EditSave.svg'%}" alt="Aplicar"> Salvar
            </button>
        </div>
        </form>
    </div>
</div>
<script src="{% static 'js/edit-profile.js' %}"></script>