{% load static %}
<div class="modal" id="editProfileModal" data-close-profile-modal>
  <div class="modal-box">

    <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="modal-header bottom-header">
        <p class="modal-title">Editar Perfil</p>

        <button class="close-button" type="button" data-close-profile-modal>
          <img src="{% static 'icons/Cancel.svg' %}" alt="Fechar">
        </button>
      </div>

      <div class="modal-body profile-modal-body">
        <label class="label">Foto</label>

        <input type="file" name="{{ form.photo_url.name }}" id="{{ form.photo_url.id_for_label }}" accept="image/*"
          style="display:none;">

        <div class="dropzone attachment" id="photo-dropzone" role="button" tabindex="0">
          <span id="logo-filename">
            {% if request.user.photo_url %}
            Alterar imagem...
            {% else %}
            Selecione uma imagem...
            {% endif %}
          </span>
        </div>

        {% if form.photo_url.errors %}
        <div class="error">
          {{ form.photo_url.errors }}
        </div>
        {% endif %}

        {% if request.user.photo_url %}
        <img src="{{ request.user.photo_url.url }}" alt="Foto atual" style="max-width: 180px; margin-top: 10px;">
        {% endif %}

      </div>

      <div class="modal-body profile-modal-body">
        <label class="label profile-name" for="{{ form.full_name.id_for_label }}">
          Nome
        </label>

        {{ form.full_name }}

        {% if form.full_name.errors %}
        <div class="error">
          {{ form.full_name.errors }}
        </div>
        {% endif %}
      </div>

      <div class="modal-footer buttons-row">
        <button class="filter-button cancel-button" data-close-profile-modal type="button">
          Cancelar
        </button>

        <button class="filter-button apply-button" type="submit">
          <img src="{% static 'icons/EditSave.svg' %}" alt="Aplicar"> Salvar
        </button>
      </div>

    </form>

  </div>
</div>
<script src="{% static 'js/edit-profile.js' %}"></script>