{% load static %}
{% load utils %}

<div class="table-content-container">
  <div class="table-responsive-container">
    <table class="table-container">
      {% if type == 'patrimony' %}
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">Serial</th>
          <th class="table-cell">Item</th>
          <th class="table-cell">Categoria</th>
          <th class="table-cell">Sala</th>
          <th class="table-cell">Estado de Conservação</th>
          <th class="table-cell">Data de Cadastro</th>
        </tr>
      </thead>
      <tbody class="table-body">
        {% for object in object_list %}
          <tr class="table-row">
            <td class="table-cell">
              <a href="{% url 'item-detail' institution.id object.id %}">
                {{ object.serial }}
              </a>
            </td>
            <td class="table-cell">{{ object.name }}</td>
            <td class="table-cell">{{ object.category }}</td>
            <td class="table-cell">{{ object.room }}</td>
            <td class="table-cell">
              {{ object.get_last_record.get_conservation_state_display|default:"-" }}
            </td>
            <td class="table-cell">{{ object.created_at|date:"j / M / Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
      {% elif type == 'inventory' %}
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">Título</th>
          <th class="table-cell">Criador</th>
          <th class="table-cell">Consultor de Patrimônio Líder</th>
          <th class="table-cell">Consultores de Patrimônio</th>
          <th class="table-cell">Data de Cadastro</th>
          <th class="table-cell">Status</th>
        </tr>
      </thead>
      <tbody class="table-body">
        {% for inventory in inventories  %}
          <tr class="table-row">
            <td class="table-cell">
              <a href="{% url 'inventory-detail' institution.id inventory.id %}">
                {{ inventory.title }}
              </a>
            </td>
            <td class="table-cell">{{ inventory.responsible }}</td>
            <td class="table-cell">{{ inventory.leader_consultor }}</td>
            <td class="table-cell">
              {% for consultor in inventory.consultors.all %}
                {{ consultor.username }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                Indefinido
              {% endfor %}
            </td>
            <td class="table-cell">{{ inventory.start_date|date:"d/m/y" }}</td>
            <td class="table-cell">{{ inventory.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
      {% elif type == 'user' %}
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">Nome</th>
          <th class="table-cell">E-mail</th>
          <th class="table-cell">Cargo</th>
        </tr>
      </thead>
      <tbody class="table-body">
        {% for perm in items %}
        <tr class="table-row">
          <td class="table-cell">
            <a href="{% url 'users-detail' perm.user.id %}">
              {{ perm.user.get_full_name|default:perm.user.username }}
            </a>
          </td>
          <td class="table-cell">
            {{ perm.user.email|default:"—" }}
          </td>
          <td class="table-cell">
            {{ perm.get_role_display }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% elif type == 'records' %}
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">Serial</th>
          <th class="table-cell">Item</th>
          <th class="table-cell">Estado de Conservação</th>
          <th class="table-cell">Consultor</th>
          <th class="table-cell">Data de Registro</th>
        </tr>
      </thead>
      <tbody class="table-body">
        {% for record in records %}
          <tr class="table-row">
            <td class="table-cell">{{ record.item.serial }}</td>
            <td class="table-cell">{{ record.item.name }}</td>
            <td class="table-cell">{{ record.get_conservation_state_display }}</td>
            <td class="table-cell">{{ record.user }}</td>
            <td class="table-cell">{{ record.recorded_at|date:"d/m/y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
      {% elif type == 'records-detail' %}
      <thead class="table-header">
        <tr class="table-row">
          <th class="table-cell">Observações</th>
          <th class="table-cell">Estado de Conservação</th>
          <th class="table-cell">Consultor</th>
          <th class="table-cell">Data de Registro</th>
        </tr>
      </thead>
      <tbody class="table-body">
        {% for record in records %}
          <tr class="table-row">
            <td class="table-cell">{{ record.item.observations }}</td>
            <td class="table-cell">{{ record.get_conservation_state_display }}</td>
            <td class="table-cell">{{ record.user }}</td>
            <td class="table-cell">{{ record.recorded_at|date:"d/m/y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
  <div class="table-managment-container">
    <div class="table-pagination-size">
      <p class="table-pagination-text">Itens por Página</p>
      <div class="table-pagination-number" id="btn-numbers">
        {{ size }}
        <img class="table-pagination-number-selector" src="{% static 'icons/Arrow.svg' %}" alt="Selecionar itens por página">
        {% include 'partials/dropdown_page.html' %}
      </div>
    </div>
    <div class="table-pagination">
      {% if page_obj.has_previous %}
        <a href="?{% querystring page=page_obj.previous_page_number %}">
          <img class="table-pagination-previous" src="{% static 'icons/Arrow.svg' %}" alt="Página anterior">
        </a>
      {% else %}
        <img class="table-pagination-previous" src="{% static 'icons/Arrow.svg' %}" alt="Página anterior">
      {% endif %}
      <div class="table-pagination-numbers">
        {% if page_obj.has_previous %}
          <a href="?{% querystring page=page_obj.previous_page_number %}">
            <span class="table-pagination-numbers-item">{{ page_obj.previous_page_number }}</span>
          </a>
        {% endif %}
        <span class="table-pagination-numbers-item selected">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
          <a href="?{% querystring page=page_obj.next_page_number %}">
            <span class="table-pagination-numbers-item">{{ page_obj.next_page_number }}</span>
          </a>
        {% endif %}
      </div>
      {% if page_obj.has_next %}
        <a href="?{% querystring page=page_obj.next_page_number %}">
          <img class="table-pagination-next" src="{% static 'icons/Arrow.svg' %}" alt="Página seguinte">
        </a>
      {% else %}
        <img class="table-pagination-next" src="{% static 'icons/Arrow.svg' %}" alt="Página seguinte">
      {% endif %}
    </div>
  </div>
</div>