{% load static %}
<div class="table-content-container">
  <table class="table-container">
    <thead class="table-header">
      <tr class="table-row">
        <th class="table-cell">Serial</th>
        <th class="table-cell">Item</th>
        <th class="table-cell">Categoria</th>
        <th class="table-cell">Sala</th>
        <th class="table-cell">Estado de Conservação</th>
        <th class="table-cell">Responsável</th>
        <th class="table-cell">Data de Cadastro</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row">
        <td class="table-cell">100074</td>
        <td class="table-cell">Cadeira</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Bom</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100123</td>
        <td class="table-cell">Mesa</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 84</td>
        <td class="table-cell">Ocioso</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100082</td>
        <td class="table-cell">Computador</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Recuperável</td>
        <td class="table-cell">Lucas Nunes</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100074</td>
        <td class="table-cell">Cadeira</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Bom</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100123</td>
        <td class="table-cell">Mesa</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 84</td>
        <td class="table-cell">Ocioso</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100082</td>
        <td class="table-cell">Computador</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Recuperável</td>
        <td class="table-cell">Lucas Nunes</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100074</td>
        <td class="table-cell">Cadeira</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Bom</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100123</td>
        <td class="table-cell">Mesa</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 84</td>
        <td class="table-cell">Ocioso</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100082</td>
        <td class="table-cell">Computador</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Recuperável</td>
        <td class="table-cell">Lucas Nunes</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
      <tr class="table-row">
        <td class="table-cell">100074</td>
        <td class="table-cell">Cadeira</td>
        <td class="table-cell">Equipamento</td>
        <td class="table-cell">Sala 75</td>
        <td class="table-cell">Bom</td>
        <td class="table-cell">Thiago Morais</td>
        <td class="table-cell">22/02/2023</td>
      </tr>
    </tbody>
  </table>
  <div class="table-managment-container">
    <div class="table-pagination-size">
      <p class="table-pagination-text">Itens por Página</p>
      <div class="table-pagination-number">
        10
        <img class="table-pagination-number-selector" src="{% static 'icons/Arrow.svg' %}" alt="Selecionar itens por página">
      </div>
    </div>
    <div class="table-pagination">
      <img class="table-pagination-previous" src="{% static 'icons/Arrow.svg' %}" alt="Página anterior">
      <div class="table-pagination-numbers">
        <span class="table-pagination-numbers-item selected">1</span>
        <span class="table-pagination-numbers-item">2</span>
        <span class="table-pagination-numbers-item">3</span>
        <span class="table-pagination-numbers-item">4</span>
      </div>
      <img class="table-pagination-next" src="{% static 'icons/Arrow.svg' %}" alt="Página seguinte">
    </div>
  </div>
</div>