{% extends 'base-dashboard.html' %}
{% load static %}

{% block main %}
<section class="main-content-container">
  <div class="actions-container">
    <button class="action" data-open-institution-create-modal>
      <img src="{% static 'icons/Clipboard.svg' %}" alt="Criar Instituição">
      Criar Instituição
    </button>
  </div>

 <div class="institutions-grid">
  {% for inst in institutions %}
    {% include "partials/institution.html" with instance=inst %}
  {% empty %}
    <p>Você não possui instituições vinculadas.</p>
  {% endfor %}
</div>

</section>

{% include 'institution/modal_create.html' %}
{% endblock %}
