{% extends "base-login.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}" />
{% endblock %}
{% block main %}
<div class="login-form-container">
  <form class="login-form" method="POST">
    {% csrf_token %}
    <div class="back-button" onclick="window.history.back()">
      <img src="{% static 'icons/Arrow.svg' %}" alt="Icone de voltar" />
      <span>Voltar</span>
    </div>
    <h1 class="login-form-title">Redefinir Senha</h1>
    <p class="login-form-subtitle">
      Informe seu e-mail e CPF para redefinir sua senha
    </p>
    <div class="input-group">
      <label class="input-label" for="email">Informe seu e-mail</label>
      <input
        class="input-field"
        type="email"
        id="email"
        name="email"
        placeholder="Digite seu email"
        required
      />
    </div>
    <div class="login-form-footer">
      <a href="{% url 'reset-password' %}" class="login-button-link"
        >Continuar</a
      >
    </div>
  </form>
</div>

{% endblock %}
