{% extends "base-login.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'css/new-password.css' %}" />
{% endblock %} {% block content %}
<div class="login-form-container">
  <form class="login-form" method="POST">
    {% csrf_token %}
    <h1 class="login-form-title">Redefinir Senha</h1>
    <p class="login-form-subtitle">Defina sua nova senha de acesso</p>
    <div class="input-group">
      <div class="input-with-toggle">
        <div class="password-input-group">
          <label class="input-label" for="password1">Nova Senha</label>
          <input
            class="input-field"
            type="password"
            id="password1"
            name="password1"
            placeholder="Digite sua nova senha"
            required
          />
        </div>
        <div class="password-visibility-toggle">
          <button
            type="button"
            class="toggle-password-visibility toggle-password-visibility-1"
          >
            <img
              src="{% static 'icons/CrossedEye.svg' %}"
              alt="Alterar visibilidade da senha"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="input-with-toggle">
        <div class="password-input-group">
          <label class="input-label" for="password2">Repetir Senha</label>
          <input
            class="input-field"
            type="password"
            id="password2"
            name="password2"
            placeholder="Digite sua senha"
            required
          />
        </div>
        <div class="password-visibility-toggle">
          <button
            type="button"
            class="toggle-password-visibility toggle-password-visibility-2"
          >
            <img
              src="{% static 'icons/CrossedEye.svg' %}"
              alt="Alterar visibilidade da senha"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="login-form-footer">
      <a href="{% url 'signin' %}" class="login-button-link">Redefinir Senha</a>
    </div>
  </form>
</div>
{% endblock %} {% block extra_scripts %}
<script src="{% static 'js/new-password.js' %}"></script>
{% endblock %}
