{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/patrimony-detail.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
  <h2 class="main-title">Monitor</h2>
  <div class="description-container">
    <div class="description">
      <p class="detail"><span class="title">Serial:</span> E300FH29</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Categoria:</span> Equipamento</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Sala:</span> Sala 75</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Responsável:</span> Lucas Nunes</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Nota Fiscal:</span> Monitor - E300FH29</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Estado de Conservação:</span> Bom</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Data de Cadastro:</span> 22/03/2022</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Cadastrado Por:</span> Thiago Morais</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">QR code:</span> Visualizar</p>
    </div>

    <div class="description column">
      <span class="title">Descrição:</span>
      <p class="text">Monitor LED 24'' Full HD Samsung – modelo S24F350, tela antirreflexo, conexão HDMI e VGA, base ajustável</p>
    </div>

    <div class="description column">
      <span class="title">Observações:</span>
      <p class="text">Equipamento em bom estado, com leve risco na lateral. Cabo HDMI incluso</p>
    </div>
  </div>

  <div class="main-options-container">
    <h2 class="main-title">Histórico de Registros</h2>
    <div class="action filter">
      <img class="action-icon" src="{% static 'icons/Filter.svg' %}" alt="Filtro">
      Filtro
    </div>
  </div>
  {% include 'partials/table.html' %}

  <div class="actions-container">
    <div class="action cancel">
      <img class="action-icon" src="{% static 'icons/Arrow.svg' %}" alt="Voltar">
      Voltar
    </div>

    <div class="actions-edit-container">
      <div class="action remove">
        <img class="action-icon" src="{% static 'icons/Trash.svg' %}" alt="Desativar">
        Desativar
      </div>
      <div class="action edit">
        <img class="action-icon" src="{% static 'icons/Edit.svg' %}" alt="Editar">
        Editar
      </div>
    </div>
  </div>
</div>
{% endblock %}