{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/patrimony-form.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
  <h2 class="main-title">{{ title }}</h2>
  <form class="form-container" method="post">
    {% csrf_token %}
    <div class="form-line">
      <div class="form-field">
        <label class="form-field-label">Item</label>
        <input class="form-field-input" type="text" placeholder="Monitor">
      </div>
      <div class="form-field">
        <label class="form-field-label">Serial</label>
        <input class="form-field-input" type="text" placeholder="E300GH29">
      </div>
      <div class="form-field">
        <label class="form-field-label">Nota Fiscal</label>
        <input class="form-field-input" type="text" placeholder="0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000">
      </div>
    </div>
    <div class="form-line">
      <div class="form-field">
        <label class="form-field-label">Categoria</label>
        <input class="form-field-input" type="text" placeholder="Equipamentos">
      </div>
      <div class="form-field">
        <label class="form-field-label">Sala</label>
        <input class="form-field-input" type="text" placeholder="Sala 75">
      </div>
      <div class="form-field">
        <label class="form-field-label">Responsável</label>
        <input class="form-field-input" type="text" placeholder="Ciro Daniel">
      </div>
    </div>
    <div class="form-line break">
      <div class="form-field tablet-100 flex-2">
        <label class="form-field-label">Descrição</label>
        <textarea class="form-field-textarea" type="text" placeholder="Informe as características principais do equipamento"></textarea>
      </div>
      <div class="form-field tablet-100 flex-1">
        <label class="form-field-label">Observações</label>
        <textarea class="form-field-textarea" type="text" placeholder="Informações adicionais sobre o item"></textarea>
      </div>
    </div>
    <div class="actions-container">
      <a class="action cancel" href="{% url 'patrimony' %}">
        Cancelar
      </a>
      <button class="action confirm">
        <img class="action-icon" src="{% static 'icons/Clipboard.svg' %}" alt="Cadastrar">
        Cadastrar
      </button>
    </div>
  </form>
</div>
{% endblock %}