{% extends "base-login.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}" />
  <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" />
{% endblock %}

{% block content %}
<div class="login-form-container">
  <form class="login-form" method="POST" action="">
    {% csrf_token %}
    <div class="back-button" onclick="window.history.back()">
      <img src="{% static 'icons/Arrow.svg' %}" alt="Icone de voltar" />
      <span>Voltar</span>
    </div>
    <h1 class="login-form-title">Redefinir Senha</h1>
    <p class="login-form-subtitle">
      Um código foi enviado ao e-mail informado, insira-o no campo a seguir para
      redefinir a senha
    </p>
    <div class="input-group-otp">
      <input
        class="input-field-reset"
        type="number"
        id="input-otp"
        id="input-otp"
        required
      />
      <input
        class="input-field-reset"
        type="number"
        id="input-otp"
        id="input-otp"
        required
      />
      <input
        class="input-field-reset"
        type="number"
        id="input-otp"
        id="input-otp"
        required
      />
      <input
        class="input-field-reset"
        type="number"
        id="input-otp"
        id="input-otp"
        required
      />
      <input
        class="input-field-reset"
        type="number"
        id="input-otp"
        id="input-otp"
        required
      />
    </div>
    <div class="login-form-footer">
      <!-- <button class="login-button" type="submit">Redefinir Senha</button> -->
      <a href="{% url 'new_password' %}" class="login-button-link"
        >Redefinir Senha</a
      >
    </div>
  </form>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/reset-password.js' %}"></script>
{% endblock %}
