{% extends "base-login.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}" />
  <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" />
  <script src="{% static 'js/reset-password.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="login-form-container">
  <form class="login-form" method="POST">
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ next|default:'' }}">
    <input type="hidden" name="email" value="{{ email|default:'' }}">
    <input type="hidden" name="code" id="otp-code" value="">

    <div class="back-button" onclick="window.history.back()">
      <img src="{% static 'icons/Arrow.svg' %}" alt="Icone de voltar" />
      <span>Voltar</span>
    </div>

    <h1 class="login-form-title">Redefinir Senha</h1>
    <p class="login-form-subtitle">
      Um código foi enviado ao e-mail informado. Insira-o no campo a seguir para redefinir a senha.
    </p>

    <div class="input-group-otp">
      <input class="input-field-reset" type="text" inputmode="numeric" maxlength="1" data-otp required />
      <input class="input-field-reset" type="text" inputmode="numeric" maxlength="1" data-otp required />
      <input class="input-field-reset" type="text" inputmode="numeric" maxlength="1" data-otp required />
      <input class="input-field-reset" type="text" inputmode="numeric" maxlength="1" data-otp required />
      <input class="input-field-reset" type="text" inputmode="numeric" maxlength="1" data-otp required />
    </div>


    <div class="login-form-footer">
      <button type="submit" class="login-button-link">
        Validar código
      </button>
    </div>
  </form>
</div>
{% endblock %}
