{% extends "base-login.html" %} {% load static %}

{% block head %}
  <script src="{% static 'js/login.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="login-form-container">
  <form class="login-form" method="POST">
    {% csrf_token %}
    <h1 class="login-form-title">Bem-vindo de volta!</h1>
    <p class="login-form-subtitle">Entre na sua conta</p>
    <div class="input-group">
      <label class="input-label" for="username">Usuário</label>
      <input
        class="input-field"
        type="text"
        id="username"
        name="username"
        placeholder="Digite seu usuário"
        required
      />
    </div>
    <div class="input-group">
      <div class="input-with-toggle">
        <div class="password-input-group">
          <label class="input-label" for="password">Senha</label>
          <input
            class="input-field"
            type="password"
            id="password"
            name="password"
            placeholder="Digite sua senha"
            required
          />
        </div>
        <div class="password-visibility-toggle">
          <button type="button" class="toggle-password-visibility">
            <img
              src="{% static 'icons/CrossedEye.svg' %}"
              alt="Alterar visibilidade da senha"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="login-form-footer">
      <a class="forgot-password-link" href="{% url 'forgot-password' %}"
        >Esqueceu a senha?</a
      >
      <button class="login-button" type="submit">Entrar</button>
      <span class="register-prompt"
        >Não possui uma conta?
        <a class="register-link" href="{% url 'signup' %}">Registre-se</a>
      </span>
    </div>
  </form>
</div>
{% endblock %}