.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 21, 28, 0.24);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.filter-box {
  background-color: var(--white);
  border-radius: 20px;
  width: 605px;
  padding: 24px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.filter-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: 30px;
  color: var(--dark-100);
}

.close-button {
  background-color: var(--white);
}

.filter-form {
  width: "100%";
  height: "100%";
}

.buttons-row {
  height: "100%";
  width: "100%";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.filter-button {
  height: auto;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: 22px;
  border-radius: 10px;
  width: 163px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px 20px;
}

.cancel-button {
  border: 1px solid rgba(162, 161, 168, 0.2);
  background-color: var(--white);
}

.apply-button {
  background-color: var(--primary);
  color: var(--white);
}

.content {
  width: "100%";
}

.one-input-inline {
  width: "100%";
  display: block;
  margin-bottom: 18px;
}

.filter-input {
  display: flex;
  border: 1px solid var(--dark-100);
  border-radius: 10px;
  padding: 14px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: 22px;
  color: var(--gray-100);
}

.one-line-input {
  width: 557px;
}

.label-text {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size-xxs);
  line-height: 18px;
  color: var(--dark-100);
}

.two-input-inline {
  width: "100%";
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.two-line-input {
  width: 271px;
}

.three-input-inline {
  width: "100%";
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.three-line-input {
  width: 176px;
}

.date-input {
  padding: 13px;
}

.custom-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("../icons/ArrowDown.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 25px;
}

.custom-date {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("../icons/Calendar.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 25px;
}

.custom-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.two-thirds-input {
  width: 369px;
}

@media screen and (max-width:768px) {
  .filter-box{
    width: 400px;
    padding: 14px;
  }

  .one-line-input{
    width: 372px;
  }

  .one-input-inline{
    margin-bottom: 0px;
  }

  .two-line-input{
    width: 179px;
  }

  .two-input-inline{
    margin-bottom: 0px;
  }

  .three-line-input{
    width: 114px;
  }  
  
  .three-input-inline{
    margin-bottom: 0px;
  }

  .filter-input{
    padding: 7px;
    font-size:10px;
  }

  .label-text{
    font-size: 8px;
  }

  .custom-date{
    background-size: 20px;
    background-position: right 5px center;
  }

  .buttons-row{
    margin-top: 20px;
  }

  .filter-button{
    height: 50px;
    font-size: 10px;
    width: 130px;
    border-radius: 6px;
  }

  .filter-header{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .custom-arrow{
    background-position: right 3px center;
  }

  .two-thirds-input{
    width: 244px;
  }

}

@media screen and (max-width:425px) {
  .filter-box{
    width: 280px;
  }

  .one-line-input{
    width: 252px;
  }

  .two-line-input{
    width: 119px;
  }

  .three-line-input{
    width: 80px;
  }  
  
  .three-input-inline{
    gap: 8px;
  }

  .filter-input{
    padding: 2px;
    font-size:8px;
    border-radius: 7px;
    padding-left: 8px;
  }

  .label-text{
    font-size:6px;
    line-height: 8px;
    font-weight: bold;
  }

  .custom-date{
    background-size: 0px;
    background-position: right 2px center;
  }

  .buttons-row{
    margin-top: 12px;
  }

  .filter-button{
    height: 42px;
    width: 100px;
  }

  .custom-arrow{
    background-position: right 0px center;
    background-size: 16px;
  }

  .two-thirds-input{
    width: 158px;
  }

}