.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.login-form-footer {
  margin-top: 0;
}

.login-form-subtitle {
  margin: 8px 0 32px 0;
}
