.login-button-link {
  width: 445px;
  height: 54px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-s);
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold !important;
  color: var(--white) !important;

  padding: 20px 0 16px 0;
}

.login-form-footer {
  margin: 0;
}

.login-form-subtitle {
  max-width: 445px;
  margin: 8px 0 32px 0;
}
