.main-container {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-family: "Lexend Bold";
  font-size: 30px;
  color: var(--dark-100);
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  padding: 13px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter {
  border: 1px solid var(--gray-20);
  font-family: "Lexend Light";
  font-size: 14px;
  color: var(--dark-100);
}

.action-icon {
  width: 24px;
  height: 24px;
}
