.input-group-otp {
  display: flex;
  justify-content: space-between;
}

.input-field-reset {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
}

.input-field-reset-has-value {
  border-color: var(--primary);
}

.input-field-reset:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: var(--primary);
}

.login-form-subtitle {
  max-width: 445px;
  margin: 8px 0 32px 0;
}

.login-form-footer {
  margin: 0;
}

.login-button-link {
  width: 445px;
  height: 54px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold !important;
  color: #fff !important;

  padding: 16px 0;
}

/* Remover setas de input number */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

input[type="number"] {
  appearance: none !important;
}
