{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/panel.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
  <section class="section-container">
    <h2 class="section-title">Dados Gerais</h2>
    <div class="cards-container">
      {% include 'partials/card.html' with title='Total de itens' type='cube' total=items_total data='Itens cadastrados' %}
      {% include 'partials/card.html' with title='Itens usáveis' type='usable' total=records data='Itens em bom estado' %}
      {% include 'partials/card.html' with title='Itens perdidos' type='lost' total=items_lost data='Itens não localizados' %}
      {% include 'partials/card.html' with title='Total de inventários' type='inventory' total=inventories.count data='Inventários realizados' %}
    </div>
  </section>
  <section class="section-container">
    <h2 class="section-title">Inventários</h2>
    <div class="inventory-container">
      {% for inventory in inventories %}
        {% include 'partials/inventory-card.html' with title=inventory.title total=inventory.get_total_itens registered=inventory.get_total_itens_registered pending=inventory.get_total_itens_pending id=inventory.id %}
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}