<article class="content">

    <div class="two-input-inline">
        <div>
            {{ filter.form.title }}
        </div>

        <div>
            {{ filter.form.responsible }}
        </div>
    </div>

    <div class="two-input-inline">
        <div>
            {{ filter.form.leader_consultor }}
        </div>

        <div>
            {{ filter.form.consultors }}
        </div>
    </div>

    <div class="three-input-inline">
        <div>
            {{ filter.form.status }}
        </div>

        <div>
            {{ filter.form.date_start }}
        </div>

        <div>
            {{ filter.form.date_end }}
        </div>
    </div>

</article>