<article class="content">

    <div class="two-input-inline">
        <div>
            <label for="item" class="label-text">Título</label>
            {{ filter_form.title }}
        </div>

        <div>
            <label for="open-by" class="label-text">Aberto por</label>
            {{ filter_form.responsible }}
        </div>
    </div>

    <div class="two-input-inline">
        <div>
            <label for="leader-consultant" class="label-text">Consultor lider</label>
            {{ filter_form.leader_consultor }}
        </div>

        <div>
            <label for="consultant" class="label-text">Consultor</label>
            {{ filter_form.consultor }}
        </div>
    </div>

    <div class="three-input-inline">
        <div>
            <label for="status" class="label-text">Status</label>
            {{ filter_form.status }}
        </div>

        <div>
            <label for="date_start" class="label-text">Data de abertura ( Início )</label>
            {{ filter_form.date_start }}
        </div>

        <div>
            <label for="date_end" class="label-text">Data de abertura ( Fim )</label>
            {{ filter_form.date_end }}
        </div>
    </div>

</article>