<article class="content">
    <div class="one-input-inline">
        <div class="w-100">
            {{ filter.form.name }}
        </div>
    </div>
           
    <div class="three-input-inline">
        <div class="w-100">
            {{ filter.form.is_deleted }}
        </div>

        <div class="w-100">
            {{ filter.form.status }}
        </div>

        <div class="w-100">
            {{ filter.form.conservation_state }}
        </div>
    </div>

    <div class="two-input-inline">
        <div class="w-100">
            {{ filter.form.category }}
        </div>

        <div class="w-100">
            {{ filter.form.room }}
        </div>
    </div>

    <div class="three-input-inline">
        <div class="w-100">
            {{ filter.form.serial }}
        </div>

        <div class="w-100">
            {{ filter.form.date_start }}
        </div>

        <div class="w-100">
            {{ filter.form.date_end }}
        </div>
    </div>
</article>