{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'item/css/patrimony.css' %}">
  <link rel="stylesheet" href="{% static 'css/institution.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
  <div class="top-container">
    <h2 class="main-title">Patrimônio</h2>
    <div class="main-options-container">
      <div class="option-container filter" data-open-modal-filter>
        <img class="icon" src="{% static 'icons/Filter.svg' %}" alt="Filtro">
        <span>Filtro</span>
      </div>
      <a class="option-container action" href="{% url 'patrimony-create' %}">
        <img class="icon" src="{% static 'icons/AddCircle.svg' %}" alt="Adicionar Item">
        <span>Adicionar Item</span>
      </a>
      <div class="option-container action" data-open-modal-import>
        <img class="icon" src="{% static 'icons/FileDownload.svg' %}" alt="Importar Itens">
        <span>Importar Itens</span>
      </div>
    </div>
  </div>
  {% include 'partials/table.html' with type='patrimony' %}
</div>
{% include 'partials/filter-base.html' with type='patrimony' %}
{% include 'partials/import-modal.html' with type='Importar' description='Baixe e preencha a Planilha Modelo abaixo e cadastre múltiplos itens simultaneamente' %}
{% endblock %}