{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'item/css/patrimony-detail.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
  <div class="action-back">
    <img class="action-icon" src="{% static 'icons/Arrow.svg' %}" alt="Voltar">
    Voltar
  </div>
  <h2 class="main-title">Monitor</h2>
  <div class="description-container">
    <div class="description">
      <p class="detail"><span class="title">Serial:</span> {{ object.serial }}</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Categoria:</span> {{ object.category }}</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Sala:</span> {{ object.room }}</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Nota Fiscal:</span> {{ object.invoice_key }}</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Estado de Conservação:</span> Bom</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">Data de Cadastro:</span> {{ object.created_at }}</p>
    </div>
    <div class="description">
      <p class="detail"><span class="title">QR code:</span>
        <a href="/media/qrcodes/{{ object.id }}.png">Visualizar</a>
      </p>
    </div>

    <div class="description column">
      <span class="title">Descrição:</span>
      <p class="text">{{ object.description }}</p>
    </div>

    <div class="description column">
      <span class="title">Observações:</span>
      <p class="text">{{ object.notes }}</p>
    </div>
  </div>

  <div class="main-options-container">
    <h2 class="main-title">Histórico de Registros</h2>
    <div class="action filter" data-open-modal-filter>
      <img class="action-icon" src="{% static 'icons/Filter.svg' %}" alt="Filtro">
      Filtro
    </div>
  </div>
  {% include 'partials/table.html' with type='records-detail' %}

  <div class="actions-container">
    <a class="action cancel" href="{% url 'patrimony' %}">
      <img class="action-icon" src="{% static 'icons/Arrow.svg' %}" alt="Voltar">
      Voltar
    </a>

    <div class="actions-edit-container">
      <div class="action remove" data-open-institution-remove-modal>
        {% if object.is_deleted %}
          <img class="action-icon" src="{% static 'icons/OpenBox.svg' %}" alt="Reativar">
          Reativar
        {% else %}
          <img class="action-icon" src="{% static 'icons/Trash.svg' %}" alt="Desativar">
          Desativar
        {% endif %}
      </div>
      <a class="action edit" href="{% url 'patrimony-edit' object.id %}">
        <img class="action-icon" src="{% static 'icons/Edit.svg' %}" alt="Editar">
        Editar
      </a>
    </div>
  </div>
</div>
{% include 'partials/filter-base.html' with type='register' %}

{% if object.is_deleted %}
  {% url 'patrimony-restore' object.id as modal_url %}
  {% include 'partials/modal_confirm.html' with title="Reativar Item" text="Deseja realmente reativar este item do patrimônio?" action=modal_url %}
{% else %}
  {% url 'patrimony-remove' object.id as modal_url %}
  {% include 'partials/modal_confirm.html' with title="Desativar Item" text="Deseja realmente desativar este item do patrimônio?" action=modal_url %}
{% endif %}


{% endblock %}