{% load static %}
{% load utils %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  <link rel="stylesheet" href="{% static 'css/modals.css' %}">
  <link rel="stylesheet" href="{% static 'css/filter.css' %}">
  <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
  <script src="{% static 'js/aside.js' %}" defer></script>
  <script src="{% static 'js/dropdown.js' %}" defer></script>
  {% block head %} {% endblock %}
  <title>SIGEP - Sistema de Gerenciamento de Estoque e Patrimônio</title>
</head>

<body class="background">
  <div class="aside-background"></div>
  <div class="aside-space"></div>
  <aside class="aside">
    <header class="aside-content">
      <h1 class="logo-container">
        <img class="logo-image" src="{% static 'icons/Logo.svg' %}" alt="Logo da SIGEP" />
        <p class="logo-text">SIGEP</p>
      </h1>
      <nav class="aside-content-container">
        <ul class="navbar-container">
          {% if permission.role == "admin" or permission.role == "manager" %}
            <a href="{% url 'institution-detail' institution.id %}">
              <li
                class="navbar-item-container {% if request.resolver_match.url_name|starts_with:'institution' %}selected{% endif %}">
                <img
                  class="navbar-item-image {% if request.resolver_match.url_name|starts_with:'institution' %}selected{% endif %}"
                  src="{% static 'icons/Panel.svg' %}" alt="Painel" />
                <span
                  class="navbar-item-text {% if request.resolver_match.url_name|starts_with:'institution' %}selected{% endif %}">Painel</span>
              </li>
            </a>

            <a href="{% url 'item-list' institution.id %}">
              <li
                class="navbar-item-container {% if request.resolver_match.url_name|starts_with:'item' %}selected{% endif %}">
                <img class="navbar-item-image {% if request.resolver_match.url_name|starts_with:'item' %}selected{% endif %}"
                  src="{% static 'icons/OpenBox.svg' %}" alt="Patrimônio" />
                <span
                  class="navbar-item-text {% if request.resolver_match.url_name|starts_with:'item' %}selected{% endif %}">Patrimônio</span>
              </li>
            </a>
          {% endif %}

          {% if permission.role == "admin" or permission.role == "manager" or permission.role == "user" %}
            <a href="{% url 'inventory-list' institution.id %}">
              <li
                class="navbar-item-container {% if request.resolver_match.url_name|starts_with:'inventory' %}selected{% endif %}">
                <img class="navbar-item-image {% if request.resolver_match.url_name|starts_with:'inventory' %}selected{% endif %}"
                  src="{% static 'icons/Inventory.svg' %}" alt="Inventários" />
                <span
                  class="navbar-item-text {% if request.resolver_match.url_name|starts_with:'inventory' %}selected{% endif %}">Inventários</span>
              </li>
            </a>
          {% endif %}

          {% if permission.role == "admin" %}
            <a href="{% url 'permission-list' institution.id %}">
              <li class="navbar-item-container {% if request.resolver_match.url_name|starts_with:'permission' %}selected{% endif %}">
                <img class="navbar-item-image {% if request.resolver_match.url_name|starts_with:'permission' %}selected{% endif %}"
                  src="{% static 'icons/Users.svg' %}" alt="Usuários" />
                <span
                  class="navbar-item-text {% if request.resolver_match.url_name|starts_with:'permission' %}selected{% endif %}">Usuários</span>
              </li>
            </a>
          {% endif %}

          {% if permission.role == "admin" or permission.role == "manager" or permission.role == "user" %}
            <a href="{% url 'registration-list' institution.id %}">
              <li class="navbar-item-container {% if request.resolver_match.url_name|starts_with:'registration' %}selected{% endif %}">
                <img class="navbar-item-image {% if request.resolver_match.url_name|starts_with:'registration' %}selected{% endif %}"
                  src="{% static 'icons/Register.svg' %}" alt="Registros" />
                <span
                  class="navbar-item-text {% if request.resolver_match.url_name|starts_with:'registration' %}selected{% endif %}">Registros</span>
              </li>
            </a>
          {% endif %}
        </ul>

      </nav>
      <a class="navbar-item-container" href="{% url 'dashboard' %}">
        <img class="navbar-item-image" src="{% static 'icons/Logout.svg' %}" alt="Sair da Insituição" />
        <p class="navbar-item-text">Voltar ao Dashboard</p>
      </a>
    </header>
  </aside>
  <main class="main">
    <div class="main-top-content-container">
      <div class="institution-container">
        <img class="menu-image" src="{% static 'icons/Menu.svg' %}" alt="Abrir menu">
        {% if institution.logo_url %}
          <img
            class="institution-image" src="{{ institution.logo_url.url }}" alt="Logo da empresa"
          />
        {% else %}
          <img
            class="institution-image" src="{% static 'img/institution.png' %}" alt="Logo da empresa"
          />
        {% endif %}
        <p class="institution-text">
          {{ institution.name }}
        </p>
      </div>
      <div class="user-container" id="btn-user-menu">
        {% if request.user.photo_url %}
          <img class="user-profile-image" src="{{ request.user.photo_url.url }}" alt="Foto de perfil do usuário" />
        {% else %}
          <img class="user-profile-image" src="{% static 'icons/User.svg' %}" alt="Foto de perfil do usuário" />
        {% endif %}

        <div class="user-content-container">
          <p class="user-name">
            {{ request.user.get_full_name|default:request.user.username }}
          </p>
          <p class="user-role">
            {{ permission.get_role_display }}
          </p>
        </div>
        <img class="user-arrow" src="{% static 'icons/Arrow.svg' %}" alt="Abrir detalhes do perfil" />
        {% include 'partials/dropdown_user.html' %}
      </div>
    </div>
    <section class="main-content-container">
      {% block main %} {% endblock %}
    </section>
  </main>
</body>

</html>