{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/institution.css' %}">
  <link rel="stylesheet" href="{% static 'css/modals.css' %}">
  <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
  <script src="{% static 'js/dropdown.js' %}" defer></script>
  {% block head %}
  {% endblock %}
  <title>SIGEP - Sistema de Gerenciamento de Estoque e Patrimônio</title>
</head>

<body>
  <main class="main">
    <div class="main-top-content-container">
      <div class="institution-container">
        <p class="institution-text">Olá 👋🏻</p>
      </div>
      <div class="user-container" id="btn-user-menu">
        {% if request.user.photo_url %}
        <img class="user-profile-image" src="{{ request.user.photo_url.url }}" alt="Foto de perfil do usuário" />
        {% else %}
        <img class="user-profile-image" src="{% static 'icons/User.svg' %}" alt="Foto de perfil do usuário" />
        {% endif %}

        <div class="user-content-container">
          <p class="user-name">
            {{ request.user.get_full_name|default:request.user.username }}
          </p>
        </div>
        <img class="user-arrow" src="{% static 'icons/Arrow.svg' %}" alt="Abrir detalhes do perfil" />
        {% include 'partials/dropdown_user.html' %}
      </div>
    </div>
    {% block main %}
    {% endblock %}
  </main>
</body>

</html>