.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.login-form-footer {
  margin-top: 0;
}

.login-form-subtitle {
  margin: 8px 0 32px 0;
}

.login-button-link {
  width: 445px;
  height: 54px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: var(--white);

  padding: 17px 0 16px 0;
}

@media only screen and (max-width: 750px) {
  .login-button-link {
    width: 100%;
  }
}
