<article class="content">

    <div class="two-input-inline">
        <div>
            {{ filter.form.item__name }}
        </div>

        <div>
            {{ filter.form.item__serial }}
        </div>
    </div>

    <div class="two-input-inline">
        <div>
            {{ filter.form.conservation_state }}
        </div>

        <div>
            {{ filter.form.user }}
        </div>
    </div>

    <div class="three-input-inline">
        <div>
            {{ filter.form.item__room }}
        </div>

        <div>
            {{ filter.form.item__created_at }}
        </div>
        
        <div>
            {{ filter.form.recorded_at }}
        </div>
    </div>

</article>